HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Node.js / shop-app ###
shop-app/node_modules/
shop-app/node/
shop-app/.env
shop-app/shop.db
shop-app/vscode/

### Node.js / shop-app ###
register/node_modules/
register/node/
register/.env
register/shop.db
register/vscode/

### portable-dev ###
portable-dev/node.zip
portable-dev/node-*/
