<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/layout2}">

<body>
	<div layout:fragment="content">
		<!-- Section-->
		<section class="py-5">
			<div class="container px-4 px-lg-5 mt-5">
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">コード</th>
								<th scope="col">商品名</th>
								<th scope="col">価格</th>
								<th scope="col">数量</th>
								<th scope="col">金額</th>
								<th scope="col">写真</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cart : ${cartlist}">
								<th th:text="${cart.code}" class="thtest">コード</th>
								<td th:text="${cart.name}" class="tdtest">商品名</td>
								<th th:text="${cart.price}" class="tdtest">価格</th>
								<th th:text="${cart.count}" class="tdtest">数量</th>
								<th th:text="${cart.count * cart.price}" class="tdtest">金額</th>
								<td class="tdtest"><img th:src="@{/images/{image}.png (image=${cart.image})}" width=120
										height=96 alt="${cart.image}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</body>

</html>