<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/layout}">

<body>
	<div layout:fragment="content">
		<!-- Page Content-->
		<section class="pt-4">
			<div class="container px-lg-5">
				<!-- Page Features-->
				<div class="row gx-lg-5">
					<div class="col-lg-6 col-xxl-4 mb-5">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<a class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"
									href="http://localhost/h2-console"><i class="bi bi-database-add"></i></a>
								<h2 class="fs-4 fw-bold">データの用意</h2>
								<p class="mb-0">それでは販売する商品のデータを作ってみましょう</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xxl-4 mb-5">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<a class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"
									href="list"><i class="bi bi-view-list"></i></i></i></a>
								<h2 class="fs-4 fw-bold">一覧表示をしてみましょう</h2>
								<p class="mb-0">追加したデータが反映されているかチェックしてみましょう</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xxl-4 mb-5">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<a class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"
									href="itemlist"><i class="bi bi-grid"></i></i></a>
								<h2 class="fs-4 fw-bold">商品をレイアウトしてみましょう</h2>
								<p class="mb-0">商品が購入しやすい形にレイアウトしてみましょう</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xxl-4 mb-5">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<a class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"
								href="shop"><i
										class="bi bi-shop-window"></i></a>
								<h2 class="fs-4 fw-bold">それでは開店</h2>
								<p class="mb-0">準備ができたらホームページを運用してみましょう</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>

</html>